{"http_interactions": [{"response": {"body": {"string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}", "encoding": "utf-8"}, "headers": {"X-RateLimit-Reset": ["1574921902"], "Content-Type": ["application/json; charset=utf-8"], "X-GitHub-Media-Type": ["github.v3; param=full; format=json"], "Status": ["401 Unauthorized"], "X-RateLimit-Remaining": ["59"], "X-RateLimit-Limit": ["60"]}, "url": "https://api.github.com/orgs/github3py", "status": {"message": "Unauthorized", "code": 401}}, "request": {"body": {"string": "", "encoding": "utf-8"}, "headers": {"Authorization": ["token <AUTH_TOKEN>"], "Content-Type": ["application/json"]}, "method": "GET", "uri": "https://api.github.com/orgs/github3py"}, "recorded_at": "2019-11-28T05:18:21"}], "recorded_with": "betamax/0.8.1"}